body { background: #238bdf; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 13px; display: flex; }
.block-filter-0 { color: #33f3ab; font-size: 20px; margin-bottom: 5px; }
.block-database-1 { color: #f265; font-size: 12px; margin-bottom: 5px; }
.block-token-2 { color: #c27504; font-size: 12px; margin-bottom: 5px; }
.block-cache-3 { color: #1441cb; font-size: 19px; margin-bottom: 5px; }
.block-cart-4 { color: #9e98b2; font-size: 14px; margin-bottom: 5px; }
.block-user-5 { color: #47f0c8; font-size: 13px; margin-bottom: 5px; }